<%- include("partials/header") -%>
<div class="container">
    <br>
    <h1> <%= title %></h1>
    <div class="articleList">
        <p style="white-space: pre-line; white-space: pre-wrap"> <%= content %></p><br><br>
    </div>

</div>

<%- include("partials/footer") -%>