<head>
    <meta charset="utf-8">
    <title>Blog/Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/loginStyles.css">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="/register">
    <img class="mb-4" src="ny.png" alt="" width="300" height="152">
    <h1 class="h3 mb-3 font-weight-normal">Register!</h1>

    <!--  <input type="text"  name="fName" class="form-control top" placeholder="First Name" required autofocus>-->
    <!--  <input type="text" name="lName" class="form-control middle" placeholder="Last Name" required autofocus>-->
    <input type="email" name="username" class="form-control top" placeholder="Email address" required autofocus>
    <input type="password" name="password" class="form-control bottom" placeholder="Password" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button" style="text-align: center">
        <i class="fab fa-google"></i>
        Google Sign Up!
    </a>

    <p class="mt-5 mb-3 text-muted">&copy; Nikhil Yadav</p>
</form>
</body>



